/*
////////////////////////////////////////////////////////////
Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel');
/*
////////////////////////////////////////////////////////////
Variables
*/
:root {
  /* --clr-primary: #0f74e9;
  --clr-primary-light: #8ce2ed; */
  /* dark shades of primary color*/
  --clr-primary-9: #450a0a;
  --clr-primary-8: #7f1d1d;
  --clr-primary-7: #991b1b;
  --clr-primary-6: #b91c1c;
  /* primary/main color */
  --clr-primary-5: #dc2626;
  /* lighter shades of primary color */
  --clr-primary-4: #ef4444;
  --clr-primary-3: #f87171;
  --clr-primary-2: #fca5a5;
  --clr-primary-1: #fecaca;
  --clr-primary-0: #fee2e2;
  /* shades of grey */
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: 'Catamaran', sans-serif;
  --ff-secondary: 'Grand Hotel', cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 1.25rem;
}
/*
////////////////////////////////////////////////////////////
Global styles
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  /* letter-spacing: var(--spacing); */
  /* margin-bottom: 0.75rem; */
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* more global styles */
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  transition: var(--transition);
}
.btn:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-2);
}

/* 
///////////////////////////////////////////////////////////////////////////////////
*/
.header {
  margin-bottom: 4rem;
}
.todo {
  margin-bottom: 2rem;
}
